body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top{
    container: left;
    background-color: black;
     color: white;
     height: 50px;
   display: flex;
 
}
.num{
  
    margin-left: 600px;
    gap: 5px;
    padding: 10px;
   
}
.btn1{
    height: 30px; 
    width: 100px;
    color: black;
    background-color: greenyellow;
    border-radius: 5px;


}
.h1{
color: black;
font-size:xx-large;
font-weight:bold;
text-align: center;
padding-top: 30px;

}
.h2{
    color: black;
    font-size:xx-large;
    font-weight:bold;
    text-align: center;
    padding-top: 30px;
}
    
    .mainheading{
        font-weight: bold;
        font-size: xx-large;
        background-image: url(./image/green-background-Graphics-23448715-1-1-580x386.jpg);
        height: 200px;
        color: aliceblue;
        text-align: center;
        padding-top: 50px;
            
    }

    
.btn2{
    height: 30px;
    background-color: rgb(240, 164, 24);
    border: none;
    border-radius: 5px;
    box-shadow: 20px;
    width: 140px;
   
}
.h3{
    color: black;
    font-size:xx-large;
    font-weight:bold;
   text-align: center;
   padding-top: 30px;
}
.image{
  padding-left: 30px;
}

.btn3{
    height: 40px;
    background-color: rgb(240, 164, 24);
    border: none;
    border-radius: 5px;
    box-shadow: 20px;
    width: 170px;
 
}
@media (max-width:950px) {
  .about{
      display: flex;
      flex-direction: column;
  }
  
  .image{
      margin-top: 20px;
      width: 350px;
      height: 250px;
  }
  .image{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
.h4{
    color: black;
    font-size:xx-large;
    font-weight:bold;
   text-align: center;
}
.img1{
 text-align: center;

}
@media (max-width:950px) {
  .figure{
      display: flex;
      flex-direction: column;
  }
}
.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    height: 100%;
    
  }
  
  
  
  .icon i {
    font-size: 30px;
    color: #dc3545;
position: relative;
bottom: 40px;
left: 60px;
background-color: #ffc107;
    border-radius: 50%;
    padding: 15px;
   width: 30px;
  text-align: center;
  }
  
  .card h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card p {
    text-align: center;
    
  }
  .card:hover{
    transform: scale(0.95);
  }
  
  .h5{
    color: black;
    font-size:xx-large;
    font-weight:bold;
   text-align: center;
   padding-top: 20px;
}

.h6{
    color: black;
    font-size:xx-large;
    font-weight:bold;
   text-align: center;
   padding-top: 20px;
}

.h7{
    color: black;
    font-size:xx-large;
    font-weight:bold;
   text-align: center;
  padding-top: 40px;
   padding-left: 30px;
}
.h8{
   
    color: #f2f2f2;
    height: 200px;
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    padding-top: 30px;
}
.BTN4{
    height: 30px;
    background-color: rgb(240, 164, 24);
    border: none;
    border-radius: 5px;
    box-shadow: 20px;
    width: 150px;
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.circle .icon{
 
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    justify-content:center;
    padding-top: 90px;
    margin-right: 80px;
   
 
}

.line{
    background-color: #ddd;
    height: 5px;
    flex-grow: 1;
    width: 20px;

}
.peopleAboutUs{
  width: 100%;
  height: 100%;
  background-color: rgb(238, 240, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.peopleAboutUs h1{
  text-align: center;
  padding: 20px;
}
.peopleAboutUs p{
  color: rgb(138, 137, 137);
  text-align: center;
}
.people{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 10px 5px 10px 5px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}
.people:hover{
  transform: scale(0.95);
}
.peopleSection{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 5px;
  margin-bottom: 50px;
}
.peoplePicture{
  width: 400px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.peoplePicture i{
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: rgb(202, 201, 201) ;

}
.peopleReview{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.peopleReview p{
  text-align: left;
  
}
@media (max-width:850px) {
  .peopleAboutUs{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .peopleSection{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .people{
      width: 320px;
      height: 150px;
  
  }
}

  .container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 100px;
    
    font-size: 18px;
    font-weight: bold;
   
  }
  .container3{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background-color: #ddd;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .ourSkills{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 30px;

}
.ourSkills h1{
    text-align: center;

}
.ourSkills p{
    color: rgb(138, 137, 137);
    text-align: center;
}
.ourSkillCircle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.circle{
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress-circle1 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(yellow 0% 45%, rgb(241, 241, 139) 45% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ani 2.5s linear infinite
  }
  @keyframes ani {
    to{transform: rotate(360deg);}
  }
  .progress-circle1::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
  }
  .progress-circle2 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#f44336 0% 60%, #f3a7a7 60% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ani 2.5s linear infinite
  }
  .progress-circle2::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
  }
  .progress-circle3 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(green 0% 75%, rgb(117, 194, 117) 75% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ani 2.5s linear infinite
  }
  .progress-circle3::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
  }
  .progress-circle4 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(black 0% 80%, rgb(128, 123, 123) 80% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ani 2.5s linear infinite
  }
  .progress-circle4::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
  }
  .percentage {
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding-bottom: 30px;
   
  }
  .label {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
    text-align: center;
  }
  @keyframes ani {
    to{transform: rotate(360deg);}
  }

  @media (max-width:850px) {
    .ourSkillCircle{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
.h9{
 
  color: black;
  height: 200px;
  text-align: center;
  font-weight: bolder;
  font-size:xx-large;
  padding-top: 30px;
}
iframe{
width: 100%;
height: 400px;
}
@media (max-width:850px) {
  .ContactInfo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }
}
.footer{
  height: 150px;
  color: #f2f2f2;
  padding-bottom: 100px;
}
.para1{
  display: flex;
   padding-left:500px ;
   position: relative ;
   bottom: 120px;
}
@media (max-width:850px) {
  .footer{
      display: flex;
      flex-direction: column;
  }
  .para{
      height: 200px;
      width: 300px;
      padding-left: 10px;
}

  .para1{
      padding-left: 5px;
  }

}


